body{background-color:rgb(63, 2, 124);}
#email,#password{
    border: rgb(6, 128, 133) 2px solid;
    display: block;
    margin-left:20%;
    margin-right:20%;
    width: 60%;
}
#submit{
    display: block;
    margin-left:30%;
    margin-right:30%;
    width: 40%;
}
#top-page{
    margin-bottom: 20%;
}
div{
    margin-left: 65%;
    margin-right: 15%;
    background-color: palevioletred;
}